<div class="container">
	<div class="container col-sm-6">
		<table class="table borderless">
			<tbody>
				<tr>
					<th scope="row">Locations:</th>
					<td></strong><u>Your Home</u></td>
				</tr>
				<tr>
					<th scope="row"></th>
					<td>North Seattle Veterinary Clinic</td>
				</tr>
				<tr>
					<th scope="row">Telephone:</th>
					<td></strong><a href="tel:1-206-595-2382">(206) 595-2382</a></td>
				</tr>
				<tr>
					<th scope="row">Email:</th>
					<td></strong><a href="mailto:#">petsthrive@vvcseattle.com</a></td>
				</tr>
				<tr>
					<th scope="row">Fax Number:</th>
					<td>(206) 299-4949</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="container col-sm-6">
			<table class="table table-bordered">
			<tbody>
				<tr>
					<th scope="row">Monday:</th>
					<td>N/A</td>
				</tr>
				<tr>
					<th scope="row">Tuesday:</th>
					<td>9:30a - 6:30p House Calls</td>
				</tr>
				<tr>
					<th scope="row">Wednesday:</th>
					<td>9:30a - 6:30p @ NSV</td>
				</tr>
				<tr>
					<th scope="row">Thursday:</th>
					<td>9:30a - 2:00p @ NSV</td>
				</tr>
				<tr>
					<th scope="row"></th>
					<td>2:00p - 6:00p House Calls</td>
				</tr>
				<tr>
					<th scope="row">Friday:</th>
					<td>9:30a - 6:30p House Calls</td>
				</tr>
				<tr>
					<th scope="row">Saturday:</th>
					<td>N/A</td>
				</tr>
				<tr>
					<th scope="row">Sunday:</th>
					<td>N/A</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="container">
	<div class="well">
		<div class="container col-sm-6">
			<table class="table borderless">
				<tbody>
					<tr>
						<th scope="row"></th>
						<td>North Seattle Veterinary Clinic</td>
					</tr>
					<tr>
						<th scope="row">Address:</th>
						<td><a href="https://maps.google.com/?q=11032 8th+Ave+NE,+Seattle,+WA+98125">11032 8th Ave NE, Seattle, WA 98125</a></td>
					</tr>
				</tbody>
			</table>
		</div>
		<iframe
		  width="100%"
		  height="250"
		  frameborder="0" style="border:0"
		  src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBgDkEd_eIdyl-4TbAW08dXYf8WjexVIaY&q=North+Seattle+Veterinary+Clinic+Seattle,Washington" allowfullscreen>
		</iframe>
	</div>
</div>